<!-- Bootstrap container -->
<div class="container">
    <!-- Bootstrap cards -->
    <div class="row">
        <!-- Bootstrap columns -->
        <div class="col columns left-columns">
            <div class="card card-center">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= currentUser.firstName %> <%= currentUser.lastName %></h5>
                    <a href="#" class="card-link">Friends</a>
                    <a href="#" class="card-link">Posts</a>
                    <a href="#" class="card-link">Add Friend</a>
                    <a href="#" class="card-link">Message</a>
                </div>
            </div>
        </div>