        <div class="col columns right-columns">
            <div class="card card-center shadow">
                <div class="card-body">
                    <h5 class="card-title">Ads Here</h5>
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <p class="card-text">Ads contents.</p>
                </div>
            </div>
        </div>
    </div>
</div>