<!--Socket.io-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
$(function () {
    var friendId;
    var socket
    
    $(document).on('click','.chat_list', function(e) {
      friendId = $(this).attr('id');
      $('.chat_list').removeClass('active_chat');
      $(`#${friendId}`).addClass('active_chat');
      socket = io(`?id=${friendId}`);
    });
    
    $('#formMessage').submit(function(e){
        e.preventDefault();
        e.stopPropagation();
        $('#messagesHistory').append(`
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>${$('#textMessage').val()}</p>
            </div>
        `);
        socket.emit('message', $('#textMessage').val());
        $('#textMessage').val('');
        return false;
    });
    socket.on('message', function(msg){
        console.log(msg);
        $('#messagesHistory').append(`
            <div class="incoming_msg">
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>${msg}</p>
              </div>
            </div>
        `);
    });
});
</script>