<% include ./partials/header %>

<div class="container container-login-register">
    <h3 class="display-4 login-register-title">Login</h2>
    <br>
    <!--Login form-->
    <form action="/login" method="POST">
        <!--Login email address-->
        <div class="form-group">
            <input class="form-control" type="text" name="email" placeholder="Email Address">
        </div>    
        <!--Login password-->
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <!--Login button-->
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Login</button>
        </div>
    </form>
</div>

<% include ./partials/footer %>