<% include ./partials/header %>

<section>
    <div class="container">
        <h1>About Us</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates vel suscipit, incidunt molestias doloribus in quam ipsam. Eligendi tempore incidunt esse iure culpa dolore aliquid, praesentium ex minima delectus repellat.</p>
    </div>
</section>

<% include ./partials/footer %>