html, body {
  height: 100%;
}

body{
  padding-top: 50px;
  background-color: #f2f2f2; 
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #2b85ff !important;
}

.form-inline.my-2.my-lg-0 {
  text-align: center;
  margin: auto;
}
    
#cover {
  background: #222 url("https://www.sott.net/image/s16/339087/full/635926264209899292_594826024_g.jpg") 
    center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

.container {
  padding: 0 5%;
}

.container-login-register {
  margin: 5% auto;
  vertical-align: middle;
  width: 50%;
}

.col-sm-10.col-sm-offset-1 {
  margin: 0 auto;
}

.landing-btn {
  width: 30%;
}

.footer {
  background-color: #171717;
}
.container-footer a {
  color: #FFFFFF;
}

.container-footer {
  color: #FFFFFF;
  padding-top: 2%;
  padding-bottom: 2%;
}

.footer-copyright {
  font-size: 0.8rem;
}

.columns {
  padding: 0.6rem 0.4rem;
  width: 100%;
}

.card-center {
  margin: 0.5rem auto;
  width: 100%;
}

.post-user {
  color: #000000;
}

.card-post {
  border-bottom: transparent;
}

.card-subtitle {
  font-size: 0.75rem;
}

.login-register-title {
  text-align: center;
}

input[type="date"]::before { 
	content: attr(data-placeholder);
	width: 100%;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

.btn-settings {
  margin: 0 0.1rem;
  float: right;
}

.left-column-user-detail{
  margin-left: auto;
  margin-bottom: 1rem;
}

.left-user-detail{
  margin-bottom: 0;
}

.left-anchor-user-detail {
  padding: 0;
  color: #000000;
  overflow: hidden;
}

.left-span-user-detail {
  margin: 0;
  float: left;
  clear: left;
}

.left-second-span-user-detail {
  font-size: 2rem;
}

.comment-section {
  margin: 0;
}