<% include ../partials/header %>

<% include ../partials/leftColumn %>

<div class="col-6 columns">
    <!--Post input box-->
    <div class="card card-center">
        <div class="card-header card-post">
            <form action="/main/home" id="homePagePostForm">
                <input type="text" class="form-control" id="homePagePostInput" name="post[text]" aria-label="Default" aria-describedby="inputGroup-sizing-default" 
                       placeholder="What's on your mind, <%= user.firstName %>?">
                <input type="button" id="homePagePostInputButton" style="display:none">
            </form>
        </div>
    </div>
    
    <!--Posts section-->
    <div id="homePagePosts">
        <% include ../ajaxSnippets/mainHome %>
    </div>

</div>

<% include ../partials/rightColumn %>

<% include ../partials/footer %>

