<% include ../partials/header %>

<div class="container">
<br>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
          </div>
          
          <!--Friends that have previously messaged-->
          <div class="inbox_chat">
              
            <!--Individual friend-->
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_ib">
                  <h5>Sunil Rajput</h5>
                  <p>Test</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
        <!--Messages Content-->
        <div class="mesgs">
          <div class="msg_history" id="messagesHistory">
            
          </div>
          
          <!--Type Message-->
          <div class="type_msg">
            <div class="input_msg_write">
                <form id="formMessage">
                    <input type="text" class="write_msg" id="textMessage" placeholder="Type a message" />
                    <button class="msg_send_btn"><i class="fas fa-paper-plane"></i></button>
                </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</div>

<% include ../partials/jQuery %>

<% include ../partials/socketIO %>

<% include ../partials/footer %>

